body { background:#555555; }
h1 { text-align:center; font-size:xx-large; color:#fffde4; }
h2 { font-size:large; margin:0px 5px; }
/* the img and pbtxtdiv dims match suppfuncs.js toggleImageDisplayClass */
img { max-height:200px; max-width:320px; margin:0px;
      box-shadow:3px 3px 2px #666666; }
.pbtxtdiv { font-size:small; background:#fffefe; margin:0px 5px;
            max-width:320px; overflow:scroll; }
.pbimgdiv { padding:0px 5px; }
.textblockdiv { font-size:medium; max-width:100%; margin:5px; }
.smallimg { max-height:100px; max-width:160px; }
.sectiondiv { clear:both; background:#fffde4; padding:5px; margin-top:8px;
              position:relative; }
.subdirdiv { clear:both; background:#fffde4; }
.picblockdiv { display:inline-block; vertical-align:top; }
.pbauddiv {}
.folderdecodiv { float:left; }
.folderdecoimg { max-width:60px; max-height:60px; margin-right:10px; }
